{#layout for map/s#}

<button id="location-button" title="Your Location" class="your-location">
  <div id="your-location-img"></div>
</button>

<div id="map"></div>

<div id="infobox-template" class="white-block-shadow">
  <div class="info-box-wrap">
    <h3 class="address">Address</h3>
    <p class="price">Status:</p>
    <a href="#" title="Go there" class="gothere" id="gothere"><img src="{{ base_path ~ directory }}/img/navigation.svg" alt="Go there"></a>
    <a href="#" title="Leave a comment"><img src="{{ base_path ~ directory }}/img/chat.svg" alt="Thank's for the update"></a>
    <a href="#" title="Update status"><img src="{{ base_path ~ directory }}/img/alarm.svg" alt="Update status"></a>
    <a href="#" title="It's not here"><img src="{{ base_path ~ directory }}/img/trash.svg" alt="It's not here"></a>
    <div id="closeInfobox" class="circle close"></div>
  </div>
  <script>
  var locations = [];
  {% for point in points %}
    locations.push([{{ point.field_location_lat }}, {{ point.field_location_lng }}, {{ point.field_status_bags_value }}, "{{ point.title }}"]);
  {% endfor %}
  console.log(locations);
  </script>
