{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
db_offline ? 'db-offline'
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
      <link rel="profile" href="http://gmpg.org/xfn/11">
      <title>{{ head_title|safe_join(' | ') }}</title>
      <link rel="stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/style.css">
    </head>
    <body{{ attributes.addclass(body_classes) }}>
      <div id="info">
        <img src="{{ base_path ~ directory }}/img/logo.svg" id="logo">

        <a href="#" class="login-toggle">
          <img src="{{ base_path ~ directory }}/img/avatar.svg" id="login">
        </a>

        <div id="locationField">
          <input id="autocomplete" placeholder="" type="text"/>
          <div id="after" class="after"></div>
        </div>
      </div>
      {{ page }}
      {{ page_bottom }}
      <script>
        var themePath = '{{ base_path ~ directory }}';
      </script>
      <script src="{{ base_path ~ directory }}/js/scripts.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC4NQBRlnxyR0tKTFh1KwbTh1vwMfCLl4&libraries=geometry,places&callback=initMap" async="async" defer="defer"></script>
    </body>
  </html>
