@keyframes alert {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#locationField {
  transition: all 0.15s;
  width: 30px;
  height: 32px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
  &.explode {
    transform: scale(1.4);
    opacity: 0;
  }
}

#autocomplete[type="submit"] {
  display: none !important;
}
#autocomplete {
  width: 100%;
  background: none;
  border: 2px solid #000;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 3px 10px 5px;
  font-size: 14px;
  color: #000;
  z-index: 2;
  position: relative;
}
#autocomplete:focus {
  outline: none;
}
.after {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;
}
#locationField.open .after {
  cursor: pointer;
}
.after:before,
.after:after {
  content: "";
  width: 13px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  transform-origin: 100% 100%;
}
.after:after {
  bottom: -2px;
  right: -2px;
  transform: rotate(45deg);
}
.after:before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}
#locationField,
#locationField .after,
#locationField .after:before,
#locationField .after:after {
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}
#locationField.in {
  animation-name: expand;
}
#locationField.in .after:before {
  animation-name: beforemagic;
}
#locationField.in .after:after {
  animation-name: aftermagic;
}

#locationField.closed,
#locationField.closed .after,
#locationField.closed .after:before,
#locationField.closed .after:after {
  animation-direction: reverse;
}
#locationField.closed {
  animation-name: expand;
}
#locationField.closed .after:before {
  animation-name: beforemagic;
}
#locationField.closed .after:after {
  animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
#locationField.open {
  width: 250px;
  color: #000;
}
#locationField.open .after {
  z-index: 3;
}
#locationField.open .after:before {
  width: 20px;
  top: 7px;
  right: 12px;
  opacity: 1;
}
#locationField.open .after:after {
  width: 20px;
  bottom: 9px;
  right: 13px;
}

@keyframes aftermagic {
  0% {
  }
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
  15% {
    opacity: 1;
  }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px;
  }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px;
  }
  90% {
    width: 20px;
    bottom: 9px;
    right: 13px;
  }
  100% {
    width: 20px;
    bottom: 9px;
    right: 13px;
  }
}
@keyframes beforemagic {
  0% {
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px;
  }
  65% {
    width: 30px;
    top: 6px;
    right: 10px;
  }
  80% {
    width: 20px;
    top: 7px;
    right: 12px;
  }
  100% {
    width: 20px;
    top: 7px;
    right: 12px;
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    color: transparent;
  }
  20% {
    width: 36px;
  }
  45% {
    width: 250px;
  }
  99% {
    color: transparent;
  }
  100% {
    width: 250px;
    color: #000;
  }
}
