/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
@import "/scss/normalize", "/scss/variables", "/scss/mixins", "/scss/navigation", "/scss/search-form";

#map {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Optional: Makes the sample page fill the window. */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.info-box-wrap {
  overflow: hidden;
  padding: 5px;
  text-align: center;

  p {
    padding: 0;
    margin: 2.5px 0 10px;
    color: #b25b00;
  }

  h3.address {
    padding: 5px 0 0;
    margin: 0;
    color: #0c99c8;
    font-weight: 700;
    overflow: hidden;
    text-transform: uppercase;
  }

  a {
    margin: 0 7.5px;

    img {
      display: inline-block;
      width: 16px;
      height: auto;
    }
  }
}

.infoBox:before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: 0;
  left: 90px;
}

#infobox-template {
  display: none;
}

.white-block-shadow {
  background: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.08);
}

#info {
  z-index: 1;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
}

#logo {
  width: 35px;
  height: auto;
}

.circle {
  border-radius: 50%;
}

.close {
  background-color: #202020;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
  cursor: pointer;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 2px;
    background: #fff;
    top: calc(50% - 1px);
    left: 3px;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.your-location {
  background-color: #fff;
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 89px;
}

#your-location-img {
  margin: 5px;
  width: 18px;
  height: 18px;
  background-image: url("https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png");
  background-size: 180px 18px;
  background-position: -144px 0;
  background-repeat: no-repeat;
}

#locationField {
  position: relative;
  float: right;
  z-index: 1;
  margin: 4px 0 0;
}

a.login-toggle {
  display: inline-block;
  float: right;
  margin: 2.5px 55px 0 20px;

  img {
    width: 35px;
    height: auto;
  }
}
